.disclaimer {
  font-family: 'Klee One', cursive;
  font-weight: 600;
  font-size: 1.25vw;
  line-height: 1.08;
  color: #ffffff;
  text-align: center;
  white-space: pre;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #9d80bf;
  border: 1px solid #000000;
  opacity: 0.9;
  box-sizing: border-box;
  padding-left: 0.26vw;
}
